environment  = "lab"
project_name = "smartlogix"
owner_name   = ""
aws_region   = "us-east-1"
aws_profile  = ""
vpc_cidr     = "10.0.0.0/16"

db_password  = ""
smtp_user    = ""
smtp_pass    = ""
smtp_from    = "SmartLogix <>"
app_url      = "http://localhost"
jwt_secret   = ""
jwt_expires_in = "8h"
